@layout.auth()
@slot('header')
Dashboard
@endslot

Welcome {{ auth.user.fullName }}

<form method="post" action="{{ route('logout') }}">
    {{ csrfField() }}
    <button type="submit" class="border shadow">Sign out</button>
</form>
@end