<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || "Welcome to Adon Blog" }} - Adon Blog</title>

    @if ($slots.meta)
    {{{ await $slots.meta() }}}
    @endif

    @vite('resources/js/app.js')
</head>

<body class="text-gray-900 antialiased">
    {{{ await $slots.main() }}}
</body>

</html>