<!DOCTYPE html>
<html
    x-data="{
        darkMode: localStorage.getItem('darkMode') || localStorage.setItem('darkMode', 'system')
    }"
    x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
    :class="{
        'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)
    }"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || "Welcome to Adon Blog" }} - Adon Blog</title>

    <style>
        [x-cloak] { display: none !important; }
    </style>

    @if ($slots.meta)
    {{{ await $slots.meta() }}}
    @endif

    @vite('resources/js/app.js')
</head>

<body class="text-gray-900 antialiased" x-cloak>
    {{{ await $slots.main() }}}
</body>

</html>