@layout.guest()
<div class="max-w-7xl mx-auto px-3 py-10">
  <h1 class="text-3xl">
    {{ t('messages.welcomeAboard') }}
  </h1>

  <ul>
    @each(blog in blogs)
      <li>
        {{ blog.title }}
      </li>
    @end
  </ul>
</div>
@end